
div{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    margin: 50px;
    padding-left: 100px;
    text-align: center;
}
.one{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
.two{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
.three{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
.four{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}